/* Created on 2020/11/6 by SubwaySamurai */

#App {
    display: block;
    height: 100%;
    overflow: auto;
}

.page-content {
    
}

.pages-container {

}

.user-layout {

}

.dashboard-layout {

}

.page-layout {
    
}

